<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios</title>

    <link rel="stylesheet" th:href="@{/ad-usuario.css}">
</head>
<body>

<h1>USUARIOS</h1>

<a th:href="@{/usuarios/nuevo}">
    + Nuevo Usuario
</a>

<br><br>

<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acciones</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="u : ${usuarios}">
        <td th:text="${u.codigoUsuario}"></td>
        <td th:text="${u.userName}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.rol}"></td>
        <td sec=authorised >
            <a th:href="@{'/usuarios/editar/' + ${u.codigoUsuario}}">
                Editar
            </a>

            <a th:href="@{'/usuarios/eliminar/' + ${u.codigoUsuario}}">
                Eliminar
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>