<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Ventas</title>
    <link rel="stylesheet" th:href="@{/admin-venta.css}">
</head>
<body>

<h1>Ventas</h1>

<a th:href="@{/ventas/nuevo}">+ Nueva Venta</a>

<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="v : ${ventas}">
        <td th:text="${v.codigoVenta}"></td>
        <td th:text="${v.fechaVenta}"></td>
        <td th:text="${v.total}"></td>
        <td th:text="${v.estado}"></td>

        <td>
            <a th:href="@{'/ventas/editar/' + ${v.codigoVenta}}">Editar</a>
            <a th:href="@{'/ventas/eliminar/' + ${v.codigoVenta}}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>